<h1>About</h1>

<p><em>YAPS</em> is a chat built with a goal of brining people together.</p>

<div id="user_box">
	<% unless current_user %>
	<button id="reddit_login">Login with Reddit</button>
	
	<input type="text" id="username" placeholder="Choose a handle">
	<% end %>
	<button id="submit_username">Go to Chat</button>
</div>