<h1>About</h1>

<p><em>YAPS</em> is a chat built with a goal of brining people together.</p>

<div id="user_box">
	<input type="text" id="username" placeholder="Choose a handle">
	<button id="submit_username">Go to Chat</button>
</div>