<div id="tagline">
<p>A webchat site built with a goal of bringing Redditors together.</p>
</div>

<div id="user_box">
	<% unless current_user %>
	<button id="reddit_login">Login with Reddit</button>   or   
	
	<input type="text" id="username" autofocus=true placeholder="Choose a handle" maxlength="10">
	<% end %>
	<button id="submit_username">Go to Chat</button>
</div>