<h1>Yaps.fuck</h1>


<!-- <input type="text" width="50" autofocus="true" id="send_text" placeholder="Messages to send."><button id="send_button">Click</button>
<h4>Messages:</h4>
<ul>
<div id="messages">
</div>
</ul> -->


<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<!-- <script src="http://socket.io/socket.io.js"></script> -->

<script>
  var socket = io("https://yapsnode.herokuapp.com/");
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
</script>


