/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* { 
	box-sizing: border-box; 
}
body {
	background: #eff7ff;
}

form { 
	padding: 60px; 
	position: fixed; 
	left: 250px; 
	top: 0px; 
	width: 75%; 
}

form input { 
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}

h6 {
	text-align: center;
}

h1 {
	font-family: 'Megrim', cursive;
	font-size: 5em;
	padding-left: 10px;
	border: 3px solid;
  border-radius: 25px;
  color: #cee3f8;
}

#title_logo {
	border-radius: 25px;
}

#tagline {
	margin-top: 10px;
}

#top {
	margin-top: 30px;
	background: #336699;
	height: 100px;
	cursor: pointer;
	border-radius: 25px;
	width: 98%;
	position: fixed;
}
#messages { 
	list-style-type: none;
	border-top: 50px; 
	margin: 0; 
	padding: 0;
	max-height: 100%;
	overflow: scroll;
}

#messages li { 
	padding: 5px 10px;
}
#sign_in_status {
	z-index: 1;
}

#container {
	padding-top: 136px;
	height: 600px;
	margin-left: 12%;
	margin-right: 12%;

}
#messages li:nth-child(odd) { 
	background: #f5f5f5; 
}
#messages li:nth-child(even) { 
	background: #c6c6c6; 
}

#send_button {
	background-color: white;
}

.hoverbutton {
	background-color: #88e0ea;
}

.user {
	font-size: 1.3em;
	color: #6d6b6b;
	float:left;
}

.message {
	font-size: 1.2em;
	color: black;
	padding-left: 10px;
	word-wrap:break-word;
}

.time {
	font-size: 1em;
	color: #2796e5; 
	float: right;
}

.img {
	margin: auto 0;
	max-width: 100%;
}
