/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* { 
	/*margin: 0; */
	box-sizing: border-box; 
}
body {
	background: #e1f2f4;
}

form { 
	padding: 30px; 
	position: fixed; 
	left: 250px; 
	top: 0px; 
	width: 75%; 
}

form input { 
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}

h6 {
	text-align: center;
}

#top {
	background: #95e4e5;
	height: 100px;
	padding-top: 10px;
	cursor:pointer;
}
#messages { 
	list-style-type: none;
	border-top: 350px; 
	margin: 0; 
	padding: 0;
	max-height: 100%;
	overflow: scroll;
}

#messages li { 
	padding: 5px 10px;
}
#container {
	height: 600px;
	margin-left: 12%;
	margin-right: 12%;
}
#messages li:nth-child(odd) { 
	background: #95e4e5; 
}
#messages li:nth-child(even) { 
	background: #cce2e2; 
}

.hoverbutton {
	background-color: #88e0ea;
}
/*.user li:nth-child(odd) {
	color: #F76F00; /*ORANGE
}*/

.user {
	font-size: 1.3em;
	color: #F76F00; /*BLUE*/
	float:left;
}

.message {
	font-size: 1.2em;
	color: black;
	padding-left: 10px;
	/*max-width: 1000px;*/
	word-wrap:break-word;
}

.time {
	font-size: 1em;
	color: #2796e5; 
	float: right;
}

.img {
	margin: auto 0;
	max-width: 100%;
}
