

@import "bootstrap-sprockets";
@import "bootstrap";

* { 
	box-sizing: border-box; 
}
body {
	background: #eff7ff;
}

#title_logo h1{
	font-family: 'Megrim', sans-serif;
	font-size: 4.4em;
	color: #eff7ff;
}
#container {
	height: max-height;
	margin-top: 30px;
	padding-left: 12%;
	padding-right: 12%;
}
form { 
	padding: 60px; 
	position: fixed; 
	left: 250px; 
	top: 0px; 
	width: 75%; 
}

form input { 
	margin-top: 10px;
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: .5%; 
}

h3 {
	text-align: center;
	padding-bottom: 10px;
}

#container p {
	padding-top: 5px;
	font-family: 'Megrim', sans-serif;
	font-size: 2.5em;
	padding-left: 1px;
	/*border: 3px solid;
  border-radius: 25px;*/
  color: #2796e5;
}

.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .form-group-lg .form-control{
	height: 60px;
}

.navbar-brand {
	padding: 5px 5px;
	height: 60px;
}
.input-group-lg > .form-control {
	height: 60px;
}
#title_logo {
	border-radius: 25px;
	display: inline-block;

}

#tagline {
	margin-top: 10px;
}

#top {
	/*margin-top: 30px;*/
	background: #336699;
	height: 100px;
	cursor: pointer;
	border-radius: 25px;
	width: 98%;
	position: fixed;
}

#user_box {
	margin-top: 130px;
}
#messages { 
	list-style-type: none;
	border-top: 30px; 
	margin: 0; 
	padding: 0;
	max-height: 100%;
	overflow: scroll;
}

#messages li { 
	padding: 5px 10px;
}
#sign_in_status {
	z-index: 1;
	height: 30px;
	width: 100%;
}

#messages p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

#span {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

#roomname {
	padding-top: 3px;
}

#messages li:nth-child(odd) { 
	background: #f5f5f5; 
}
#messages li:nth-child(even) { 
	background: #c6c6c6; 
}

#send_button {
	background-color: white;
}

.hoverbutton {
	background-color: #88e0ea;
}

.user {
	font-size: 1.3em;
	color: #6d6b6b;
	float:left;
}

.message {
	font-size: 1em;
	color: black;
	padding-left: 10px;
	word-wrap:break-word;
}

.time {
	font-size: 1em;
	color: #2796e5; 
	float: right;
}

.img {
	margin: auto 0;
	max-width: 100%;
}

@media (max-width: 500px) {
   .message{
   font-size: 1em;
   }
   #container {
	padding-top: 10px;
	height: max-height;
	margin-left: 3%;
	margin-right: 13%;
	}
	.navbar-brand{
	padding-left: 40px;
	}

}
